@use 'sass:color';
@use 'sass:math';
@use '../tokens' as tokens;

@mixin bulma-light-vars {
  --bulma-scheme-brightness: light !important;
  --bulma-scheme-main: var(--fluent-color-neutral-background-1) !important;
  --bulma-scheme-main-bis: var(--fluent-color-neutral-background-2) !important;
  --bulma-scheme-main-ter: var(--fluent-color-neutral-background-3) !important;
  --bulma-background: var(--fluent-color-neutral-background-3) !important;
  --bulma-text: var(--fluent-color-neutral-foreground-1) !important;
  --bulma-text-strong: var(--fluent-color-neutral-foreground-1) !important;
  --bulma-text-weak: var(--fluent-color-neutral-foreground-3) !important;
  --bulma-border: var(--fluent-color-neutral-stroke-1) !important;
  --bulma-border-weak: var(--fluent-color-neutral-stroke-2) !important;
  --bulma-primary: var(--fluent-brand-color) !important;
  --bulma-primary-h: #{math.round(color.channel(tokens.$fluent-brand-color, 'hue', $space: hsl))} !important;
  --bulma-primary-s: #{math.round(
      color.channel(tokens.$fluent-brand-color, 'saturation', $space: hsl)
    )} !important;
  --bulma-primary-l: #{math.round(
      color.channel(tokens.$fluent-brand-color, 'lightness', $space: hsl)
    )} !important;
  --bulma-link: var(--fluent-brand-color) !important;
  --bulma-link-h: var(--bulma-primary-h) !important;
  --bulma-link-s: var(--bulma-primary-s) !important;
  --bulma-link-l: var(--bulma-primary-l) !important;
  --bulma-family-primary: var(--fluent-font-family) !important;
  --bulma-radius-small: var(--fluent-radius-small) !important;
  --bulma-radius: var(--fluent-radius-medium) !important;
  --bulma-radius-medium: var(--fluent-radius-large) !important;
  --bulma-radius-large: var(--fluent-radius-x-large) !important;
  --bulma-duration: var(--fluent-duration-normal) !important;
  --bulma-easing: var(--fluent-easing-standard) !important;
  --bulma-speed: var(--fluent-duration-fast) !important;
  --bulma-control-radius: var(--fluent-radius-medium) !important;
  --bulma-control-height: var(--fluent-control-height) !important;
  --bulma-control-border-width: var(--fluent-stroke-width-thin) !important;
  --bulma-control-padding-horizontal: var(--fluent-control-padding-inline) !important;
}

@mixin bulma-dark-vars {
  --bulma-scheme-brightness: dark !important;
  --bulma-scheme-main: var(--fluent-color-neutral-background-1) !important;
  --bulma-scheme-main-bis: var(--fluent-color-neutral-background-2) !important;
  --bulma-scheme-main-ter: var(--fluent-color-neutral-background-3) !important;
  --bulma-background: var(--fluent-color-neutral-background-3) !important;
  --bulma-text: var(--fluent-color-neutral-foreground-1) !important;
  --bulma-text-strong: var(--fluent-color-neutral-foreground-1) !important;
  --bulma-text-weak: var(--fluent-color-neutral-foreground-3) !important;
  --bulma-border: var(--fluent-color-neutral-stroke-1) !important;
  --bulma-border-weak: var(--fluent-color-neutral-stroke-2) !important;
  --bulma-primary: var(--fluent-brand-color) !important;
  --bulma-primary-h: #{math.round(color.channel(tokens.$fluent-brand-color, 'hue', $space: hsl))} !important;
  --bulma-primary-s: #{math.round(
      color.channel(tokens.$fluent-brand-color, 'saturation', $space: hsl)
    )} !important;
  --bulma-primary-l: #{math.round(
      color.channel(tokens.$fluent-brand-color, 'lightness', $space: hsl)
    )} !important;
  --bulma-link: var(--fluent-brand-color) !important;
  --bulma-link-h: var(--bulma-primary-h) !important;
  --bulma-link-s: var(--bulma-primary-s) !important;
  --bulma-link-l: var(--bulma-primary-l) !important;
  --bulma-family-primary: var(--fluent-font-family) !important;
  --bulma-radius-small: var(--fluent-radius-small) !important;
  --bulma-radius: var(--fluent-radius-medium) !important;
  --bulma-radius-medium: var(--fluent-radius-large) !important;
  --bulma-radius-large: var(--fluent-radius-x-large) !important;
  --bulma-duration: var(--fluent-duration-normal) !important;
  --bulma-easing: var(--fluent-easing-standard) !important;
  --bulma-speed: var(--fluent-duration-fast) !important;
  --bulma-control-radius: var(--fluent-radius-medium) !important;
  --bulma-control-height: var(--fluent-control-height) !important;
  --bulma-control-border-width: var(--fluent-stroke-width-thin) !important;
  --bulma-control-padding-horizontal: var(--fluent-control-padding-inline) !important;
}

@mixin emit {
  :root,
  [data-theme='light'] {
    color-scheme: light;

    --fluent-brand-color: #{tokens.$fluent-brand-color};
    --fluent-color-brand-foreground: var(--fluent-brand-color);
    --fluent-color-status-foreground: #fff;

    @include bulma-light-vars;
  }

  [data-theme='dark'] {
    color-scheme: dark;

    @include tokens.emit-dark;

    --fluent-color-brand-foreground: var(--fluent-color-brand-110);
    --fluent-color-status-foreground: #000;

    @include bulma-dark-vars;
  }

  @media (prefers-color-scheme: dark) {
    :root:not([data-theme='light']) {
      color-scheme: dark;

      @include tokens.emit-dark;

      --fluent-color-brand-foreground: var(--fluent-color-brand-110);
      --fluent-color-status-foreground: #000;

      @include bulma-dark-vars;
    }
  }
}
